<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="col-md-4">
      {% for workout in account.workout_list %}
      {% include 'partials/_workout_format.html' %}

      <form class="" action="{% url 'workout_archive_view' workout.id %}" method="post">
        {% csrf_token %}
        <input type="submit" name="" value="Archive">
      </form>
      {% endfor %}
      <hr>
      <a href="{% url 'workout_create_view' account.id %}">New Workout</a>
      <a href="{% url 'account_archived_view' account.id  %}">Archived Workouts</a>
    </div>
    <div class="col-md-6">
      <h2>All Clients</h2>
      {% for client in clients %}
      <a href="{% url 'account_detail_view' client.id%}">{{ client.user.username }}</a><br>
      {% endfor %}
    </div>

  </body>
</html>
